@using (Html.BeginForm("SearchResult", "comments", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-10">
            <label for="query">
                <h4>Text</h4><input type="text" name="text" class="form-control" />
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label for="query">
                <h4>User name</h4><input type="text" name="user" class="form-control" />
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label for="query">
                <h4>Publicaton title</h4><input type="text" name="publication" class="form-control" />
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label for="query">
                <h4>Min rating</h4><input type="number" name="rating" value="0" class="form-control" />
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label for="query">
                <h4>Min date</h4><input type="date" name="dateMin" value="1800-03-23" class="form-control" />
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label for="query">
                <h4>Max date</h4><input type="date" name="dateMax" value="2800-03-23" class="form-control" />
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
}
