@model blogDBApp.Models.themes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>themes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>

