@model IEnumerable<blogDBApp.Models.themes>

@{
    ViewBag.Title = "Themes";
}

<h4>Themes</h4>

<table class="table">
   
    @foreach (var item in Model)
    {
    <tr>
        <td>
           @Html.ActionLink(item.name, "themePublications", "themesList", new { id = item.id }, null)
        </td>
    </tr>
    }
</table>
