@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    OMSK<br />
    OmSTU<br />
    <abbr title="Phone">P:</abbr>
    89048262301
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:zaicev9797@gmail.com">zaicev9797@gmail.com</a><br />
</address>