@{
    ViewBag.Title = "Home Page";
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Themes", "themesList", "themesList", null, null);
        </th>
        <th>
            @Html.ActionLink("Messages", "themesList", "themesList", null, null);
        </th>
    </tr>
</table>
