
<table class="table">
    <tr>
        <td>
            <h3>theme</h3>
        </td>
        <td>
            <h3>
                avg
            </h3>
        </td>
        <td>
            <h3>
                max
            </h3>
        </td>
    </tr>

    @foreach (var item in ViewBag.result)
    {
        <tr>
            <td>
                @Html.ActionLink((string)item.name, "FilterByTheme", "publications", new { id = item.id }, null)
            </td>
            <td>
                @item.avg
            </td>
            <td>
                @item.max
            </td>
        </tr>
    }
</table>
