
<table class="table">
    <tr>
        <td>
            <h3>User</h3>
        </td>
        <td>
            <h3>Publicatoin</h3>
        </td>
        <td>
            <h3>Theme</h3>
        </td>
    </tr>

    @foreach (var item in ViewBag.result)
    {
    <tr>
        <td>
            @Html.ActionLink((string)item.uName, "Details", "users", new { id = item.uID }, null)
        </td>

        <td>
            @Html.ActionLink((string)item.pName, "FilterByPublication", "comments", new { id = item.pID }, null)
        </td>
        <td>
            @Html.ActionLink((string)item.tName, "FilterByTheme", "publications", new { id = item.tID }, null)
        </td>
    </tr>

    }
</table>
